<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bem Vindo ao <strong>BOOST!</strong></ion-card-subtitle>
      <ion-card-title>NOS AJUDE A PROGRAMAR SEUS TREINOS RESPONDENDO O QUESTIONARIO ABAIXO</ion-card-title>
    </ion-card-header>
<!--    card-header    -->
    <ion-card-content class="ion-text-justify">
      Você pode nivelar e escolher conforme prefere, fazendo isso o APP
      entregará melhores treinos. Depois de concluido você pode alterar.
    </ion-card-content>
  </ion-card>
  <form [formGroup]="perguntasForm" (ngSubmit)="salvarPerguntas()">
  <ion-card>
    <ion-list>
      <ion-list-header>
        <ion-label class="ion-text-uppercase">Selecione o nivel do treinos que iremos te recomendar</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Perna</ion-label>
        <ion-select formControlName="perna" cancelText="Cancelar" okText="Confirmar" placeholder="Selecione">
          <ion-select-option value="perIniciante">Iniciante</ion-select-option>
          <ion-select-option value="perModerado">Moderado</ion-select-option>
          <ion-select-option value="perAvançado">Avançado</ion-select-option>
          <ion-select-option value="perNenhum">Nenhum</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Costas</ion-label>
        <ion-select formControlName="costas" cancelText="Cancelar" okText="Confirmar" placeholder="Selecione">
          <ion-select-option value="cosIniciante">Iniciante</ion-select-option>
          <ion-select-option value="cosModerado">Moderado</ion-select-option>
          <ion-select-option value="cosAvançado">Avançado</ion-select-option>
          <ion-select-option value="cosNenhum">Nenhum</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Peito</ion-label>
        <ion-select formControlName="peito" cancelText="Cancelar" okText="Confirmar" placeholder="Selecione">
          <ion-select-option value="peiIniciante">Iniciante</ion-select-option>
          <ion-select-option value="peiModerado">Moderado</ion-select-option>
          <ion-select-option value="peiAvançado">Avançado</ion-select-option>
          <ion-select-option value="peiNenhum">Nenhum</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Aerobico</ion-label>
        <ion-select formControlName="aerobico" cancelText="Cancelar" okText="Confirmar" placeholder="Selecione">
          <ion-select-option value="aerIniciante">Iniciante</ion-select-option>
          <ion-select-option value="aerModerado">Moderado</ion-select-option>
          <ion-select-option value="aerAvançado">Avançado</ion-select-option>
          <ion-select-option value="aerNenhum">Nenhum</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-button type="submit" color="primary" expand="block" (click)="menssageConfirm()">Registrar</ion-button>
 <!--<ion-button color="primary" fill="clear" href="/home" slot="end">Depois</ion-button>-->
  </form>
</ion-content>
